$brandMajor: #304CB2;

body {
	background: $brandMajor;
}

.page-header {
	background: #1F3173;
	color: white;
	font-size: 26;
	font-style: bold;
	line-height: 20px;
	margin-top: 0px;
	padding: 19px 20px 20px;
}

a, a:hover {
	color: white;
	text-decoration: none;
}

$buttonColor: #FFBF27;

.btn {
	color: #111B40;
	background-color: $buttonColor;
}

.btn-default:hover {
	background-color: $buttonColor;
}